body {
    padding: 0;
    margin: 0;
}
header {
    background-image: url('./img/banner.jpg');
    height: auto;
    color: white;

}
.width-80 {
    display: flex;
    
}

.menu-head{
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    width: 65%;


}
.menu-left{
    display: flex;
}
/* .menu-left h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 17px;
}

.menu-left span {
    margin: auto;
    padding-left: 8px;
    font-size: 8px;
} */

.menu-left img{
    padding-top: 12px;
    height: 22px;
}
.menu-right nav ul, .content-header ul{
    display: flex;
}

.menu-right nav ul li, .content-header ul li {
    list-style: none;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.menu-right nav ul li:last-child{
    padding-right: 0;
}

.menu-right nav ul li a{
    color: white;
    text-decoration: none;
}
.content-header{
    padding-top: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-header .color, .title-main_head, .icon_content--head i{
    color: #0feb9e;
}
.content-header h2{
    font-size: 62px;
    font-weight: 300;;
}
.content-header h2 span{
    font-weight: 800;;
}
.content-header h2 .content-header h3 .content-header h6{
    margin-bottom: 10px;
    margin-top: 10px;
}
.content-header h6::before, .content-header h6::after {
    color: #0feb9e;
    content: "_____";
    position: relative;
    top: -8px;
    padding: 20px;
}   
.sub-title_head::before, .sub-title_head::after  {
    color: #0feb9e;
    content: "___________";
    position: relative;
    top: -8px;
    padding: 20px;
}   

.content-header ul li i{
    padding-top: 20px;

}
.content-header ul li i:hover{
    color: red;
}

.icon_content--head i {
    padding: 11px;
    border-radius: 50%;
    border: 1px solid;
}

@media screen and (max-width: 567px){
    .sub-title_head::before, .sub-title_head::after  {
        content: "________";
        
    } 
    
}

@media screen and (min-width: 568px){
    /* .sub-title_head::before, .sub-title_head::after  {
        color: red;
        
    }  */
    
}

.hover_demo {
    position: relative;
}

.hover_demo img {
    width: 273px;
    height: 253px;
}
.hover_demo img:hover + .box-hover{
    display: block;
    /* transform: rotate(-90deg) scale(1,1); */
    transform: rotate(0deg);
    backface-visibility: hidden;
    display: block;
    animation: mymove 5s infinite;
    /* transition: ro; */
}
@keyframes mymove {
    50% {transform: rotate(180deg)};
}
.box-hover {
    color: red;
    width: 273px;
    height: 253px;
    background-color: greenyellow;
    position: absolute;
    top: 0;
    opacity: 0.4;
    display: none;
    transform: rotateY(180deg);

}
